@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;600&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Signika", sans-serif;
  text-align: center;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(120deg, rgba(56, 56, 170, 0.8), rgba(238, 128, 65, 0.7)), url("https://i.pinimg.com/originals/f7/aa/a7/f7aaa7b831d2a742a2015f81389f270d.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.judul {
  color: white;
}

.judul h1 {
  margin: 20px 0 auto;
  padding: 0 auto;
}

.judul p {
  margin: 5px 0 auto;
  padding: 0 auto;
}

.form {
  margin: 20px auto;
  background-color: rgba(77, 77, 77, 0.4);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
  width: 60%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

#survey-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
}

label,
fieldset,
div {
  margin-top: 20px;
}

input[type="text"],
[type="email"],
[type="number"],
[type="submit"],
select,
textarea {
  border: none;
  border-radius: 4px;
  padding: 14px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Signika", sans-serif;
}

#submit:active {
  cursor: pointer;
  box-shadow: 3px 3px 2px 1px #000 inset;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}